Repository LXD-UMC-8th/FE-LXD, pull requests merged in 2025-08, with the labels that each got.

#115 Api/api#104
  FE_LXD/src/pages/FeedPage.tsx
  src/apis/auth.ts
  src/apis/correction.ts
  src/apis/diary.ts
  src/apis/notification.ts
  src/components/Common/CalendarModal.tsx
  src/components/Common/CommonComponentInDiaryNFeed.tsx
  src/components/Common/CommonComponentSkeleton.tsx
  src/components/Common/ValueSettingButton.tsx
  src/components/Diary/Tabs/DiaryTotalTab.tsx
  src/components/Diary/Writing/EnrollModal.tsx
  src/components/Diary/Writing/EnrollWrapper.tsx
  src/components/Diary/Writing/QuestionTitle.tsx
  src/components/Diary/Writing/WritingEditor.tsx
  src/components/NavBar/AcceptComponent.tsx
  src/constants/key.ts
  src/context/translate.ts
  src/hooks/queries/useInfinite.ts
  src/hooks/queries/useWritingSubmit.ts
  src/hooks/useWritingSubmit.ts
  src/layouts/ProtectedLayout.tsx
  src/main.tsx
  src/pages/Diary/DiaryPage.tsx
  src/pages/Diary/WritingPage.tsx
  src/pages/Feed/FeedPage.tsx
  src/utils/types/APIresponse.ts
  src/utils/types/correction.ts
  src/utils/types/diary.ts
Labels: feat, API

#121 API: 회원가입 api 연결
  src/apis/members.ts
  src/components/Login/LangOptionsButton.tsx
  src/hooks/useAuth.ts
  src/layouts/ProtectedLayout.tsx
  src/pages/Login/LoginPage.tsx
  src/pages/Login/ProfilePage.tsx
  src/pages/Login/SignupFlow.tsx
Labels: API

#113 [API]: 작성자 프로필 연결
  src/apis/correction.ts
  src/apis/diary.ts
  src/components/Common/Avatar.tsx
  src/components/Common/ProfileComponent.tsx
  src/components/Corrections/CorrectionComponent.tsx
  src/components/Corrections/ProfileInCorrections.tsx
  src/components/Corrections/Tabs/ReceivedCorrectionTab.tsx
  src/components/Diary/CorrectionsInDiaryDetail.tsx
  src/components/Diary/DiaryContent.tsx
  src/hooks/mutations/useGetDiaryDetail.ts
  src/pages/Diary/DiaryDetailPage.tsx
  src/utils/types/diary.ts
Labels: API

#155 [API] CorrectionComment 연결
  package-lock.json
  package.json
  src/App.tsx
  src/apis/correctionComment.ts
  src/components/Diary/CorrectionsInDiaryDetail.tsx
  src/components/Diary/DiaryContent.tsx
  src/components/Diary/ProvideCorrections.tsx
  src/components/Feed/Tabs/ExploreTab.tsx
  src/hooks/mutations/CorrectionComment/useDeleteCorrectionComment.ts
  src/hooks/mutations/CorrectionComment/useGetCorrectionComments.ts
  src/hooks/mutations/CorrectionComment/usePostCorrectionComments.ts
  src/hooks/mutations/usePostCorrection.ts
  src/pages/Diary/DiaryDetailPage.tsx
  src/utils/types/correction.ts
  src/utils/types/correctionComment.ts
Labels: API, FIX

#176 Fix/diary detail
  public/images/CorrectHover.svg
  src/components/Common/CommonComponentInDiaryNFeed.tsx
  src/components/Diary/CorrectionsInDiaryDetail.tsx
  src/components/Diary/DiaryContent.tsx
  src/components/Diary/ProvideCorrections.tsx
  src/context/translate.ts
  src/index.css
  src/pages/Diary/DiaryDetailPage.tsx
  src/pages/Login/LoginPage.tsx
Labels: design, FIX

#206 [CSS]: all pages
  public/images/EditOffIcon.svg
  public/images/EditOnIcon.svg
  public/images/NotFoundIcon.svg
  src/components/Common/CommonComponentInDiaryNFeed.tsx
  src/components/NavBar/NavProfileModal.tsx
  src/context/translate.ts
  src/pages/Etc/NotFoundPage.tsx
  src/pages/Login/SignupPage.tsx
  src/pages/Settings/SettingsPage.tsx
Labels: design, feat

#221 [FIX]: DiaryDetail
  src/apis/diaryComment.ts
  src/components/Common/CommonComponentInDiaryNFeed.tsx
  src/components/Diary/DiaryContent.tsx
  src/pages/Diary/DiaryDetailPage.tsx
  src/utils/types/diaryComment.ts
Labels: FIX

#236 [FIX]: CSS, 작성된 교정 수정
  src/components/Diary/CorrectionsInDiaryDetail.tsx
  src/pages/Diary/DiaryDetailPage.tsx
  src/pages/Diary/ProvideCorrections.tsx
Labels: enhancement, design
